@model MVCGaleno.Models.Laboratorio

@{
    ViewData["Title"] = "Detalles del Estudio";
}

<div class="container mt-5">
    <!-- Título principal -->
    <h1 class="text-center text-primary mb-4">Detalles del Estudio</h1>
    <hr />

    <!-- Información del estudio -->
    <div class="card shadow p-4">
        <h4 class="text-secondary mb-4">Información</h4>
        <dl class="row">
            <dt class="col-sm-4 text-muted">@Html.DisplayNameFor(model => model.RutaArchivo)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.RutaArchivo)</dd>

            <dt class="col-sm-4 text-muted">@Html.DisplayNameFor(model => model.IdAfiliado)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.IdAfiliado)</dd>

            <dt class="col-sm-4 text-muted">@Html.DisplayNameFor(model => model.IdPrestador)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.IdPrestador)</dd>
    </div>

    <!-- Boton de acción -->
    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-light btn-sm">
            <i class="bi bi-arrow-left-circle"></i> Volver a la lista
        </a>
    </div>

</div>