@model MVCGaleno.Models.Turno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrestadorMedico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrestadorMedico.NombreCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especialidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fechaCita)
        </dd>
</div>

        <h5>Datos de contacto</h5>
<div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrestadorMedico.MailMedico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrestadorMedico.MailMedico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrestadorMedico.TelefonoMedico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrestadorMedico.TelefonoMedico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrestadorMedico.DireccionMedico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrestadorMedico.DireccionMedico)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>