@model MVCGaleno.Models.PrestadorMedico

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <!-- Título principal -->
    <h1 class="text-center text-primary mb-4">Detalles del Prestador Médico</h1>
    <hr />

    <!-- Información del afiliado -->
    <div class="card shadow p-4">
        <h4 class="text-secondary mb-4">Información Personal</h4>
        <dl class="row">
            <dt class="col-sm-4 text-muted">@Html.DisplayNameFor(model => model.Especialidad)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Especialidad)</dd>

            <dt class="col-sm-4 text-muted">@Html.DisplayNameFor(model => model.NombreCompleto)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.NombreCompleto)</dd>

            <dt class="col-sm-4 text-muted">@Html.DisplayNameFor(model => model.MatriculaProfesional)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.MatriculaProfesional)</dd>

            <dt class="col-sm-4 text-muted">@Html.DisplayNameFor(model => model.MailMedico)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.MailMedico)</dd>

            <dt class="col-sm-4 text-muted">@Html.DisplayNameFor(model => model.TelefonoMedico)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.TelefonoMedico)</dd>

            <dt class="col-sm-4 text-muted">@Html.DisplayNameFor(model => model.DireccionMedico)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.DireccionMedico)</dd>
        </dl>
    </div>

    <!-- Botones de acción -->
    <div class="text-center mt-4">
        <!-- Botón Editar -->
        <a asp-action="Edit" asp-route-id="@Model?.IdPrestador" class="btn btn-primary btn-sm me-3">
            <i class="bi bi-pencil"></i> Editar
        </a>
        <!-- Botón Volver -->
        <a asp-action="Index" class="btn btn-light btn-sm">
            <i class="bi bi-arrow-left-circle"></i> Volver a la lista
        </a>
    </div>

</div>
